<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    
    <h1 class="display-3">CFN - Prototype 2</h1>
    <p class="lead">NFT market for Commodities</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/auth/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/auth/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
